/* PC */
@media (min-width:992px) {
    .mobile-header{
        display: none;  
    }
}
/* Tablet & mobile */
@media (max-width:991.98px) {
    /* 1.an nav bar */
    .navbar{
        display: none;
    }
    /* 2 chuyen logo vao center */
    .header-top{
        position: relative;
    }
    .header__logo{
        position: absolute;
        left: 50%;
        translate: -50% -50%;
    }
    /* 3 can lai pos icon menu */
    .menu-header__icon{
        position: absolute;
        top: 38px;
        left: 26px;
        color: #fff;
        width: 24px;
    }
    /* 4 overlay */
    .menu-overlay{
        position: fixed;
        background-color: rgb(0, 0,0, 0.3);
        inset: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }
    /* 5 check if checkbox has clicked to display overlay */
    #menu-checkbox:checked ~ .menu-overlay{
        opacity: 1;
        visibility: visible;
    }
    /* 6 menu drawer */
    .menu-drawer{
        position: fixed;
        background-color: #2e1919;
        inset: 0 40% 0 0;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s;
        padding: 60px;
    }
    /*7 if menu checked */
    #menu-checkbox:checked ~ .menu-drawer{
        transform: translateX(0);
    }
    /* 8 menu top */
    .close__menu{
        width: 24px;
        color: #fff;
    }
    .menu-drawer__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__list{
        margin-top: 25px;
        flex-direction: column;
    }
    #navbar__list--mobile{
        margin-top: 25px;
    }
    .navbar__link{
        display: block;
        font-size: 2rem;
    }
    .navbar__link:hover{
        background-color: rgb(71, 99, 89);
    }
    /* hero block */
    .hero{
        flex-direction: column;
        gap: 50px;
    }
    .hero__content{
        order: 2;
    }
    .hero__media{
        order: 1;
    }
    .hero__content{
        width: 80%;
        text-align: center;
        margin: 22px auto;
    }
    .hero__row{
        justify-content: center;
    }
    /* service block */
    .service__row{
        flex-direction: column;
        row-gap: 20px;
    }
    .service__img{
        width: 100%;
    }
    .service-item{
        width: 90%;
        text-align: start;
    }
    .service__list{
        text-align: center;
    }
    /* work list */
    .work__list{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    /* about */
    .about-row{
        flex-direction: column;
        row-gap: 30px;
    }
    .about__media{
        width: 100%;
    }
    /* an anh */
    .about__img--small{
        display: none;
    }
    .about__img--big{
        width: 100%;
        border-radius: 15px;
        margin: 15px auto;
    }
    .about-content{
        width: 90%;
        text-align: center;
    }
    /* team list */
    .team__list{
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
    }
    .team-item__thum{
        margin: 0 auto;
    }
    /* install */
    .install__img{
        display: none;
    }
    .install__content{
        width: 90%;
        margin: 0 auto;
    }
    /* blog inner*/
    .blog__inner{
        flex-direction: column;
    }
    .blog__list{
        order: 1px;
    }
    .blog__content{
        order: 2px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog__heading{
        max-width: 90%;
    }
}

/* Tablet */
@media (min-width:768px) and (max-width: 991.98px){
    /* footer */
    .footer-hidden-tablet{
        display: none;
    }
    .footer__top{
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }
}
/* mobile */
@media (max-width:767.98px){
}
